@model List<string>
@{
    ViewData["Title"] = "ErrorPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container mt-5">
    <h2 class="text-danger">Bir hata meydana geldi</h2>
    <hr />

    <div class="alert alert-danger">
        <ul class="mb-0">
            @foreach (var item in Model)
            {
                <li>@item</li>
            }
        </ul>
    </div>

    <a href="javascript:history.back()" class="btn btn-primary">Geri Dön</a>
</div>

