@model PasswordChangeViewModel
@{
    ViewData["Title"] = "PasswordChange";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form method="post">
            <h2>Şifre Yenileme</h2>

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-info" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }

            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
            </div>

            <div class="row mb-3">
                <label class="col-md-4 col-form-label" asp-for="PasswordOld"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordOld" type="password" class="form-control">
                    <span asp-validation-for="PasswordOld " class="text-danger"></span>

                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-4 col-form-label" asp-for="PasswordNew"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordNew" type="password" class="form-control">
                    <span asp-validation-for="PasswordNew " class="text-danger"></span>

                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-4 col-form-label" asp-for="PasswordNewConfirm"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordNewConfirm" type="password" class="form-control">
                    <span asp-validation-for="PasswordNewConfirm " class="text-danger"></span>

                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-8 offset-4">
                    <button type="submit" class="btn btn-primary">Şifre Değiştir</button>

                </div>
            </div>

        </form>
    </div>
</div>


@section Scripts
{
    @await Html.PartialAsync("_ValidationScriptsPartial");
}

